* {
  margin: 0%;
  padding: 0%; }

.detalle {
  font-family: 'Courier New', Courier, monospace;
  color: goldenrod;
  font-size: 22px;
  text-decoration: none; }

@media screen and (max-width: 700px) {
  .contenedor, .contenedor-banda {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 20% 70% 5%;
    grid-template-areas: "header" "navegacion"   "main" "footer"; }
  .logo {
    grid-area: header;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
  .ancla {
    height: 100%;
    width: 100%; }
    .ancla img {
      width: 100%;
      height: 92%; }
  nav {
    grid-area: navegacion; }
    nav ul {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background-color: black;
      padding: 0%; }
      nav ul li {
        height: 25%;
        width: 100%;
        border-top: 2px solid goldenrod;
        border-bottom: 2px solid goldenrod;
        display: flex;
        align-items: center;
        justify-content: center; }
        nav ul li a {
          text-decoration: none;
          color: goldenrod; }
  .lineup {
    display: none; }
  .main__index {
    grid-area: main;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3%; }
  .texto {
    text-align: justify; }
  .mainUno, .mainDos, .mainCuatro, .mainTres {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10%;
    height: 21%;
    width: 100%; }
    .mainUno img, .mainDos img, .mainCuatro img, .mainTres img {
      width: 90%;
      height: 95%; }
    .mainUno p, .mainDos p, .mainCuatro p, .mainTres p {
      display: flex;
      justify-content: center;
      color: goldenrod;
      font-size: 20px; }
  .img__main__uno {
    width: 60%;
    height: 100%; }
  .contenedor-banda {
    height: 100%; }
  .labanda {
    grid-area: main;
    height: 100%;
    background-color: gray; }
  .discos__contenedor {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2% 5% 1%;
    grid-template-areas: "dheader" "dnav" "dmain"    "dfooter"; }
  .discos__navegacion {
    grid-area: dnav; }
  .discos__header {
    grid-area: dheader; }
  .discos__main {
    grid-area: dmain; }
  .discos__footer {
    grid-area: dfooter; }
  footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 33% 43% 24%;
    grid-template-rows: 45% 45%;
    grid-template-areas: "gibson megadeth redes" "marshall meagdeth redes";
    background-color: black;
    row-gap: 3px;
    resize: none; }
    footer div {
      height: 100%;
      width: 100%; }
      footer div div {
        display: flex;
        justify-content: center;
        align-items: center; }
  .megadethpadre {
    grid-area: megadeth; }
    .megadethpadre div img {
      height: 100%;
      width: 90%; }
  .gibsonpadre {
    grid-area: gibson;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    .gibsonpadre div img {
      height: 90%;
      width: 95%; }
  .marshallpadre {
    grid-area: marshall; }
    .marshallpadre div img {
      height: 90%;
      width: 95%; }
  .redespadre {
    grid-area: redes; }
    .redespadre div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: goldenrod; } }

@media screen and (min-width: 700px) {
  .contenedor {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 2% 17% 76% 5%;
    grid-template-areas: "logo navegacion" "header header" "main main" "footer footer";
    width: 100%;
    background-color: black; }
  .logo {
    grid-area: logo;
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    left: 20px; }
  .ancla {
    height: 100%;
    width: 100%; }
    .ancla img {
      width: 100%;
      height: 90%; }
  .lineup {
    grid-area: header;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center; }
    .lineup img {
      height: 90%;
      width: 100%;
      position: relative;
      top: -45px; }
  .navegacion {
    grid-area: navegacion;
    background-color: black; }
    .navegacion ul {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly; }
      .navegacion ul li {
        list-style-type: none; }
        .navegacion ul li a {
          text-decoration: none;
          color: goldenrod;
          font-size: 17px;
          letter-spacing: 1px; }
          .navegacion ul li a:hover {
            text-decoration: underline goldenrod; }
  .main__index {
    grid-area: main;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    justify-content: center; }
  .texto {
    position: relative;
    top: -60px;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px; }
  .mainUno, .mainDos, .mainTres, .mainCuatro {
    display: flex;
    flex-direction: column;
    height: 21%;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%; }
    .mainUno p, .mainDos p, .mainTres p, .mainCuatro p {
      color: goldenrod;
      font-size: 27px; }
    .mainUno img, .mainDos img, .mainTres img, .mainCuatro img {
      width: 90%;
      height: 95%; }
  .contenedor-banda {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 3% 20% 71% 6%;
    grid-template-areas: "logo navegacion" "main main" "main main" "footer footer";
    width: 100%;
    row-gap: 5px;
    background-color: black; }
  footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 33% 41% 26%;
    grid-template-rows: 45% 45%;
    grid-template-areas: "gibson megadeth redes" "marshall meagdeth redes";
    background-color: black;
    row-gap: 3px; }
    footer div {
      height: 100%;
      width: 100%; }
      footer div div {
        display: flex;
        justify-content: center;
        align-items: center; }
  .megadethpadre {
    grid-area: megadeth; }
    .megadethpadre div img {
      height: 100%;
      width: 90%;
      max-width: 400px; }
  .gibsonpadre {
    grid-area: gibson; }
    .gibsonpadre div {
      display: flex;
      justify-content: flex-start;
      margin-left: 20px; }
      .gibsonpadre div img {
        height: 90%;
        width: 95%;
        max-width: 400px; }
  .marshallpadre {
    grid-area: marshall; }
    .marshallpadre div {
      margin-left: 20px;
      display: flex;
      justify-content: flex-start; }
      .marshallpadre div img {
        height: 90%;
        width: 95%;
        max-width: 400px; }
  .redespadre {
    grid-area: redes; }
    .redespadre div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      color: goldenrod;
      padding-left: 10%; } }

@media screen and (min-width: 1100px) {
  .contenedor {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 3.5% 29% 60.5% 7%;
    grid-template-areas: "logo  nav" "header header" "main main" "footer footer";
    height: 320vh; }
  .navegacion {
    grid-area: nav; }
    .navegacion ul {
      align-items: center; }
      .navegacion ul li a {
        font-size: 22px; }
        .navegacion ul li a:hover {
          text-decoration: underline goldenrod; }
  .lineup {
    grid-area: header; }
    .lineup img {
      width: 100%;
      height: 90%;
      max-height: 1080px;
      max-width: 1920px;
      position: relative; }
  .ancla {
    height: 100%;
    width: 100%; }
    .ancla img {
      width: 110%;
      height: 100%;
      position: relative;
      bottom: -8px; }
  .main__index {
    display: grid;
    grid-template-rows: 5% 47.5% 47.5%;
    grid-template-columns: 50% 50%;
    grid-template-areas: "texto texto" "uno dos" "tres cuatro"; }
  .texto {
    grid-area: texto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    height: 100%;
    position: relative;
    top: 10px;
    margin: 30px 30px 30px 0px; }
  .mainUno {
    grid-area: uno; }
  .mainDos {
    grid-area: dos; }
  .mainTres {
    grid-area: tres; }
  .mainCuatro {
    grid-area: cuatro; }
  .mainUno, .mainDos, .mainTres, .mainCuatro {
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
  .megadethpadre {
    position: relative;
    left: -50px; } }

.redes div a {
  text-decoration: none;
  color: goldenrod; }
  .redes div a:hover {
    text-decoration: underline goldenrod; }

.mainUno img:hover, .mainDos img:hover, .mainTres img:hover, .mainCuatro img:hover {
  opacity: .8;
  border: 2px solid goldenrod; }
