* {
  margin: 0%;
  padding: 0%; }

.detalle {
  font-family: 'Courier New', Courier, monospace;
  color: goldenrod;
  font-size: 22px;
  text-decoration: none; }

.index__header {
  background-color: black;
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
  margin: 0%; }

.main__index {
  background-color: gray;
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
  padding: 20px; }

.lineup {
  display: flex;
  justify-content: center;
  background-color: black; }

.main__index div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px; }

.texto {
  text-align: justify; }

.main__p {
  color: goldenrod;
  font-weight: 500; }

.labanda {
  background-image: linear-gradient(to left, #000000, #595757);
  padding: 30px; }
  .labanda div {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center; }
    .labanda div h2 {
      display: flex;
      justify-content: center;
      color: goldenrod; }
    .labanda div p {
      text-align: justify;
      color: whitesmoke; }

.navegador {
  list-style-type: none; }
  .navegador li a {
    color: goldenrod;
    text-decoration: none;
    text-decoration-style: none;
    letter-spacing: 1.5px; }

.dis
.discos__main {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%; }

.discos__padre {
  background-image: linear-gradient(to left, #000000, #595757);
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 35px; }
  .discos__padre div {
    display: flex;
    align-items: center;
    font-size: 30px; }
  .discos__padre h2 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: goldenrod;
    letter-spacing: 2px;
    font-family: 1; }

.info {
  display: none;
  position: absolute; }

.card {
  background-color: gray;
  margin: 80px 80px;
  max-width: 500px;
  height: auto;
  border: 2px solid black; }

.card-body {
  color: goldenrod; }

.main__novedades {
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px; }
  .main__novedades h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    color: goldenrod; }

.noticia {
  background-color: black;
  overflow-y: scroll;
  width: 90%;
  height: 900px;
  background-color: black;
  padding: 10px;
  display: flex;
  border: 2px solid goldenrod; }

.noticia__hijo {
  max-height: 600px;
  max-width: 500px;
  margin: 5px 5px;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center; }
  .noticia__hijo p {
    text-align: justify;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }

.shows {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  width: 100%; }

.showUno, .showDos, .showTres, .showCuatro, .showCinco, .showSeis, .showSiete {
  background-color: black;
  width: 95%;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: whitesmoke;
  margin: 25px 25px;
  font-size: 30px; }

.comprar {
  padding: 15px;
  background-color: red; }

@media screen and (max-width: 768px) {
  .logo {
    border-bottom: 2px solid goldenrod; }
  .navegacion {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .navegacion ul {
      margin: 0%;
      padding: 0%;
      width: 100%;
      height: 100%; }
      .navegacion ul li {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-top: 45px;
        padding-bottom: 45px;
        border-bottom: 2px solid goldenrod; }
        .navegacion ul li a {
          font-size: 17px; }
  .showUno, .showDos, .showTres, .showCuatro, .showCinco, .showSeis, .showSiete {
    font-size: 20px;
    flex-direction: column; }
  .texto {
    font-size: 20px; }
  .main__p {
    font-size: 23px; }
  .lineup {
    display: none; }
  .labanda {
    width: 100%; }
    .labanda div p {
      font-size: 25px;
      font-weight: 400;
      letter-spacing: 1px; }
  .boxUno, .boxDos, .boxTres {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
  footer {
    grid-area: footer;
    height: 15vh;
    display: grid;
    grid-template-columns: 33% 43% 24%;
    grid-template-rows: 45% 45%;
    grid-template-areas: "gibson megadeth redes" "marshall sporify redes";
    background-color: black;
    row-gap: 3px; }
    footer div {
      height: 100%;
      width: 100%; }
      footer div div {
        display: flex;
        justify-content: center;
        align-items: center; }
  .megadethpadre {
    grid-area: megadeth;
    max-width: 350px; }
    .megadethpadre div img {
      height: 100%;
      width: 100%; }
  .gibsonpadre {
    grid-area: gibson;
    max-width: 350px; }
    .gibsonpadre div {
      height: 100%;
      width: 65%;
      margin-right: 20px; }
      .gibsonpadre div img {
        height: 50%;
        width: 95%;
        max-width: 400px; }
  .marshallpadre {
    grid-area: marshall;
    max-width: 350px; }
    .marshallpadre div {
      width: 65%;
      height: 100%; }
      .marshallpadre div img {
        height: 90%;
        width: 95%;
        max-width: 300px; }
  .redespadre {
    grid-area: redes; }
    .redespadre div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: goldenrod; }
  .spotify {
    display: none; } }

@media screen and (min-width: 768px) {
  .navegador {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-left: 15px; }
    .navegador li a {
      font-size: 21px; }
  .index__header {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center; }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px; }
  .lineup {
    border-top: 3px solid black; }
  .texto {
    font-size: 25px; }
  .main__p {
    font-size: 25px; }
  .labanda div p {
    font-size: 25px;
    padding-right: 50px;
    padding-left: 50px; }
  footer {
    grid-area: footer;
    display: grid;
    height: 22vh;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 45% 45%;
    grid-template-areas: "gibson megadeth redes" "marshall spotify redes";
    background-color: black;
    row-gap: 3px; }
    footer div {
      height: 100%;
      width: 100%; }
      footer div div {
        display: flex;
        justify-content: center;
        align-items: center; }
  .megadethpadre {
    grid-area: megadeth;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    .megadethpadre div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }
      .megadethpadre div img {
        height: 100%;
        width: 100%;
        max-width: 400px; }
  .gibsonpadre {
    grid-area: gibson;
    max-width: 350px;
    margin-left: 40px; }
    .gibsonpadre div {
      display: flex;
      justify-content: flex-start;
      margin-left: 10px;
      height: 100%;
      width: 55%; }
      .gibsonpadre div img {
        height: 50%;
        width: 95%;
        max-width: 400px; }
  .marshallpadre {
    grid-area: marshall;
    max-width: 350px;
    margin-left: 40px; }
    .marshallpadre div {
      margin-left: 10px;
      display: flex;
      justify-content: flex-start;
      height: 100%;
      width: 55%; }
      .marshallpadre div img {
        height: 90%;
        width: 95%;
        max-width: 400px; }
  .redespadre {
    grid-area: redes; }
    .redespadre div {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: goldenrod;
      margin-top: 10px; }
      .redespadre div div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between; }
      .redespadre div a {
        font-size: 25px; }
  .spotify {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    justify-content: flex-end; } }

.navegador li a:hover {
  text-decoration: underline goldenrod; }

.redes div a {
  text-decoration: none;
  color: goldenrod; }
  .redes div a:hover {
    text-decoration: underline goldenrod; }

.mainUno img:hover, .mainDos img:hover, .mainTres img:hover, .mainCuatro img:hover {
  opacity: .8;
  border: 2px solid goldenrod; }
