*{
    margin:0%;
    padding:0%;   
}

@mixin centrado  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;    
}

@media screen and (max-width:700px){
    .contenedor, .contenedor-banda{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 5% 20% 70% 5%;
        grid-template-areas: "header"
        "navegacion"  
        "main"
        "footer";
        height: 100%;
    }

    .logo{
        grid-area: header;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
    .ancla{
        height: 100%;
        width: 100%;
            img{
                width: 100%;
                height: 92%;
            }
    }   

    nav {
        grid-area: navegacion;
        ul{
            height: 100%;
            @include centrado();
            background-color: black;

            li{
                height: 25%;
                width: 100%;
                border-top: 2px solid goldenrod;
                border-bottom: 2px solid goldenrod;
                display: flex;
                align-items: center;
                justify-content: center;

                a{
                    text-decoration:none;
                    color: goldenrod;
                }
            }
        }
    }

    .lineup{
        display: none;
    }

    .main__index{
        grid-area: main;
        background-color: gray;
        @include centrado();
        padding: 3%;
    }
    .texto{
        text-align: justify;
    }

    .mainUno , .mainDos, .mainCuatro, .mainTres{
        display: flex;
        flex-direction: column;
        height: 21%;
        img{
            height:350px;
            width: 400px;
        }

        p{
            display: flex;
            justify-content: center;
            color: goldenrod;
            font-size: 20px;
        }
    }

    .contenedor-banda{
        height: 350vh;
    }

    .labanda{
        @include centrado();
        background-color: gray;
        padding: 2%; 
        grid-area: main
    }

    .boxUno, .boxDos, .boxTres {
        @include centrado();
        height: 350vh;

        h2{
            font-size: 20px;
            color: goldenrod;
        }
        p{
            text-align: justify;
        }

        div{
            @include centrado();
            width: 100%;
            height: 100%;
            img{
                height: 90%;
                width: 90%;
            }
        }
    }

    .boxDos{
        p{
            margin-bottom: 10px;
        }
    }
    


    footer{
        grid-area: footer;
        display: grid;
        grid-template-columns: 33% 34% 33%;
        grid-template-rows: 45% 45%;
        grid-template-areas: "gibson megadeth redes"
                            "marshall meagdeth redes";
        background-color: black;
        row-gap: 3px;
        div{
            height: 100%;
            width: 100%;
            div{
                display: flex;
                justify-content: center;
                align-items: center;                
            }
            
        }
        resize: none;
    }
    
    .megadethpadre{
        grid-area: megadeth;
        div{
            img{
                height: 50px;
                width: 150px;   
            }
        }
    }
    .gibsonpadre{
        grid-area: gibson;
        div{
            img{
                height: 50px;
                width: 150px;   
            }
        }
    }

    .marshallpadre{
        grid-area: marshall;
        div{
            img{
                height: 50px;
                width: 150px;   
            }
        }
    }
    .redespadre{
        grid-area: redes;

        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: goldenrod;
        }
    }
}

@media screen and (min-width:700px){    
    .contenedor{
        display:grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 3% 20% 72% 5%;
        grid-template-areas: "logo navegacion"
                            "header header"
                            "main main"
                            "footer footer";
        width: 100%;
        row-gap: 20px;
        background-color: black;
    }
    
    .logo{
        grid-area: logo;
        height: 100%;
        width: 100%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
    .ancla {
        height: 100%;
        width: 100%;
            img{
                width: 95%;
                height: 100%;
            }
    }
    
    .lineup{
        grid-area: header;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            height: 100%;
            width: 90%;
        }
    }
    
    .navegacion{
        grid-area: navegacion;
        background-color: black;
        ul{
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            li{
                list-style-type: none;
                
                a{
                    text-decoration: none;
                    color: goldenrod;
                }
            }
        }
    }
    
    .main__index{
        grid-area: main;
        background-color: gray;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        
    }

    .texto{
        padding: 20px;
        text-align: justify;
    }
    
    .mainUno, .mainDos, .mainTres, .mainCuatro{
        display: flex;
        flex-direction: column;
        height: 24%;
        align-items: center;
        justify-content: center;
            p{
                color: goldenrod;
                font-size: 30px;
            }
            
        
    }

    .img__main{
        height: 310px;
        width: 480px;
    }

    .contenedor-banda{
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 3% 20% 71% 6%;
        grid-template-areas: "logo navegacion"
                            "main main"
                            "main main"
                            "footer footer";
        width: 100%;
        row-gap: 5px;
        background-color: black;
        height: 300vh;
    }

    .labanda{
        grid-area: main;
        background-color: gray;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 1%;
        padding-bottom: 1%;
        @include centrado();
    }

    .boxTres, .boxDos, .boxUno{
        @include centrado();
        justify-content: space-around;
        height: 33%;         
        h2{
            color: goldenrod;
            font-size: 30px;
        }

        div{
            p{
                text-align: justify;
                font-size: 20px;
            }

            img{
                height: 350px;
                width: 600px;
            }
        }
    }
    

    footer{
        grid-area: footer;
        display: grid;
        grid-template-columns: 33% 34% 33%;
        grid-template-rows: 45% 45%;
        grid-template-areas: "gibson megadeth redes"
                            "marshall meagdeth redes";
        background-color: black;
        row-gap: 3px;
        div{
            height: 100%;
            width: 100%;
            div{
                display: flex;
                justify-content: center;
                align-items: center;                
            }
            
        }
        
    }
    
    .megadethpadre{
        grid-area: megadeth;
        position: relative;
        top: 20px;
        height: 100%;
        div{
            img{
                height: 80px;
                width: 300px;   
            }
        }
    }
    .gibsonpadre{
        grid-area: gibson;
        div{
            img{
                height: 50px;
                width: 150px;   
            }
        }
    }
    
    .marshallpadre{
        grid-area: marshall;
        div{
            img{
                height: 50px;
                width: 150px;   
            }
        }
    }
    .redespadre{
        grid-area: redes;
    
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: goldenrod;
        }
    }
}

@media screen and (min-width:1200px){
    .lineup {
        img{
            max-width: 1100px;
            height: 100%;
        }
    }

    .ancla {
        height: 100%;
        width: 100%;
            img{
                width: 90%;
                height: 90%;
            }
    }

    .boxTres, .boxDos, .boxUno{
        @include centrado();
        justify-content: space-around;
        height: 33%;         
        h2{
            color: goldenrod;
            font-size: 35px;
        }

        div{
            p{
                text-align: justify;
                font-size: 25px;
            }

            img{
                height: 450px;
                width: 700px;
            }
        }
    }

}