*{
    margin:0%;
    padding:0%;  
    font-family: 'Roboto', sans-serif; 
}

@mixin reset{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
}

@mixin centrado  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;    
}


.detalle {
    font-family: 'Courier New', Courier, monospace;
    color: goldenrod;
    font-size: 22px;
    text-decoration: none;
    display: inline;
}

.index__header{
    background-color: rgb(0, 0, 0);
    @include reset();
    margin: 0%;
}



.main__index{
    background-color: #595757;
    @include reset();
    padding: 20px;
}

.lineup{
    display: flex;
    justify-content: center;
    background-color: black;
    
}

.main__index div {
    @include centrado();
    margin-top: 25px;
    margin-bottom: 25px;
}

.texto{
    text-align: justify;
    
}

.main__p{
    color: goldenrod;
    font-weight: 500;
}


.labanda{
    background-image: linear-gradient(to left, #000000, #595757);;
    padding: 30px;
    div{
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        h2{
            display: flex;
            justify-content: center;
            color: goldenrod;
            
        }
        p{
            text-align: justify;
            color: whitesmoke;
            
        }
    }
}

.navegador{
    list-style-type:none;
    li{
            a{
                color: rgb(209, 153, 11);
                text-decoration: none;
                text-decoration-style: none;
                letter-spacing: 1.5px;
                font-weight: 600;
                
            }
        }

}



.discos__main{
    @include reset();
    
}

.discos__padre{
    background-image: linear-gradient(to left, #000000, #595757);
    @include reset();
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
    div{
        display: flex;
        align-items: center;
        font-size: 30px;
    }
    
    h2{
        display: flex;
        justify-content: center;
        font-size: 40px;
        color: goldenrod;
        letter-spacing: 2px;
        font-family: random($limit: 1);
    }
}

.info{
    display: none;
    position: absolute;
}

.card{
    background-color: gray;
    margin: 80px 80px;
    max-width: 500px;
    height: auto;  
    border: 2px solid black;  
}

.card-body {
    color: rgb(209, 153, 11);
}

.main__novedades{
    background-color:#595757;
    @include centrado();
    padding: 50px;

    h2{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        color: rgb(209, 153, 11);
        letter-spacing: 1.5px;
        font-weight: 500;
    }
}

.noticia{
    background-color: black;
    overflow-y: scroll;
    width:75%;
    max-width: 1420px;
    height:  900px;
    background-color: black;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-around;    
    
}

.noticia__padre{
    display: flex;
}
.noticia__hijo{    
    margin: 10px 10px;
    padding: 10px;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    border: 2px solid rgb(209, 153, 11);    
    p{
        text-align: justify;
        color: rgb(209, 153, 11);
        @include centrado();
    }
}

.cargar{
    background-color: #595757;
    color: rgb(209, 153, 11);
    @include reset();
    display: flex;
    justify-content: center;
    height: 30px;
    &:hover{
        text-decoration: underline;
        background-color: gray
        }
    
}

.shows{
    @include centrado();
    margin-top: 50px;
    width: 100%;
}

.showUno, .showDos, .showTres, .showCuatro, .showCinco, .showSeis, .showSiete{
    background-color: black;
    width: 95%;
    height: 300px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: whitesmoke;
    margin: 25px 25px;
    font-size: 30px;
}

.comprar{
    padding: 15px;
    background-color: red;
    &:hover{
        background-color: rgb(209, 153, 11);
    }
}

.main__suscripcion{
    background-color: #595757;
    padding: 20px;
}

.suscripcion{
    display: flex;
    justify-content: center;
    text-align: justify;
    h2{
        color: rgb(209, 153, 11);
        
    }

}

.suscripcion__img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    
    label{
        font-size: 25px;
    }

    input{
        width: 100%;
        background-color: rgb(209, 153, 11);
        margin-top: 5px;
        margin-bottom: 20px;
        height: 40px;
    }

    textarea{
        margin-top: 20px;
        height: 180px;
        width: 100%;
        background-color: rgb(209, 153, 11);
    }

    
    button{
        margin-top: 30px;
        align-self: center;
        width: 100px;
        height: 60px;
        background-color: rgb(209, 153, 11);
        font-size: 25px;
        font-weight: 600;
    }
}

.tyc {    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 25px;
    position: relative;
    left: -22px;
    margin-top: 20px;

    input{
        height: 20px;
        width: 10%;
        position: relative;
        top: 9px;
        background-color: rgb(209, 153, 11);
    }

}
.boton{
    width: 100%;
    display: flex;
    justify-content: center;
}




@media screen and (max-width:768px){

    .logo{
        border-bottom: 2px solid rgb(209, 153, 11);
        display: flex;
        justify-content: center;
    }

    .navegacion{
        @include reset();
        display: flex;
        align-items: center;
        justify-content: center;
        ul{
            @include reset();     
            li{
                width:100% ;
                @include centrado();
                padding-top: 45px;
                padding-bottom: 45px;
                border-bottom: 2px solid rgb(209, 153, 11);

                a{      
                    font-size: 17px;                  
                }
            }
        }
    }
    .showUno, .showDos, .showTres, .showCuatro, .showCinco, .showSeis, .showSiete{
        font-size: 20px;
        flex-direction: column;
    }

    .texto{
        font-size: 20px;
    }
    .main__p{
        font-size: 23px;        
    }

    .lineup{
        display: none;      
    }

    .labanda{
        width: 100%;
        div{
            p{
            font-size: 25px;
            font-weight: 400;
            letter-spacing: 1px
            }
        }
    }

    .boxUno, .boxDos, .boxTres{
        @include centrado();
    }

    .noticia__hijo{
        p{
        font-size: 15px;
        color: rgb(209, 153, 11);
        }
    }

    .noticia__padre{
        flex-direction:column;
    }

    
    footer{
        grid-area: footer;
        height: 15vh;
        display: grid;
        grid-template-columns: 33% 43% 24%;
        grid-template-rows: 45% 45%;
        grid-template-areas: "gibson megadeth redes"
                            "marshall sporify redes";
        background-color: black;
        row-gap: 3px;
        div{
            height: 100%;
            width: 100%;
            div{
                display: flex;
                justify-content: center;
                align-items: center;                
            }
            
        }
    
    }
    
    .megadethpadre{
        grid-area: megadeth;
        max-width: 350px;
        div{
            
            img{
                height: 100%;
                width: 100%;
                
            }
        }
    }
    .gibsonpadre{
        grid-area: gibson;
        max-width: 350px;
        div{
            height: 100%;
            width: 65%;
            margin-right: 20px;
            img{
                height: 50%;
                width: 95%; 
                max-width: 400px;  
            }
        }
    }

    .marshallpadre{
        grid-area: marshall;
        max-width: 350px;
        div{
            width: 65%;
            height: 100%;
            img{
                height: 90%;
                width: 95%;  
                max-width: 300px; 
            }
        }
    }
    .redespadre{
        grid-area: redes;

        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: goldenrod;
        }
    }

    .spotify{
        display: none;
    }
}

@media screen and (min-width:768px){    
    
    .navegador{
        @include reset();
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding-left: 15px;
        li{
            a{
                font-size: 21px;
            }
        }
    }

    .index__header{
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
    }


    .lineup{
        border-top: 3px solid black;        
    }

    .texto{
        font-size: 25px;
    }

    .main__p{
        font-size: 25px;
    }

    .labanda{
        div{
            p{
                font-size: 25px;
                padding-right: 50px;
                padding-left: 50px;
            }
        }
    }

    .noticia__hijo{
        p{
            font-size: 25px;

        }
    }

    .noticia__padre{
        flex-direction:column;
    }

    
    .formulario{
        margin-top: 40px;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 40px;
    }
    
    footer{
        grid-area: footer;
        display: grid;
        height: 22vh;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 45% 45%;
        grid-template-areas: "gibson megadeth redes"
                            "marshall spotify redes";
        background-color: black;
        row-gap: 3px;
        div{
            height: 100%;
            width: 100%;
            div{
                display: flex;
                justify-content: center;
                align-items: center;                
            }
            
        }
        
    }
    
    .megadethpadre{
        grid-area: megadeth;
        @include centrado();
        div{
            @include centrado();
            img{
                height: 100%;
                width: 100%;
                max-width: 400px;
                
            }
        }
    }
    .gibsonpadre{
        grid-area: gibson;
        max-width: 350px;
        margin-left: 40px;
        div{
            display: flex;
            justify-content: flex-start;
            margin-left: 10px;
            height: 100%;
            width: 55%;
            img{
                height: 50%;
                width: 95%; 
                max-width: 400px;  
            }
        }
    }

    .marshallpadre{
        grid-area: marshall;
        max-width: 350px;
        margin-left: 40px;
        div{
            margin-left: 10px;
            display: flex;
            justify-content: flex-start;
            height: 100%;
            width: 55%;
            img{
                height: 90%;
                width: 95%;
                max-width: 400px;   
            }
        }
    }
    .redespadre{
        grid-area: redes;
    
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            color: rgb(209, 153, 11);
            margin-top: 10px;
            div{
                @include centrado();
            }
            
            a{
                    font-size: 25px;
                }
            
        }
    }
    .spotify{
        @include centrado();
        justify-content: flex-end;
        
    }


}

@media screen and (min-width:1200px){
    .noticia__padre{
        flex-direction: row;     
    }
    .dos, .cuatro, .seis{
        position: relative;
        top: 90px;
    }

    .main__novedades{
        h2{
            font-size: 40px;
        }
    }
    
    .cargar{
        position: relative;
        top: 50px;
    }


    .formulario{
        width: 50%;
    }
}



.navegador{    
    li{
        a{
            &:hover{
                    
                    font-family: 'Special Elite', cursive;
                    letter-spacing: 2px;
            
            }
        }
    }
    

}

.redes{
    div{
        a{
            text-decoration: none;
            color: rgb(209, 153, 11);
            &:hover{
                text-decoration: underline rgb(209, 153, 11);
            }
        }
    }
    
}

.mainUno, .mainDos, .mainTres, .mainCuatro{
    img{
        &:hover{
            opacity: .8;
            border: 2px solid rgb(209, 153, 11);
        }
    }
}